# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Optional
.env
.env.*.local
.DS_Store

# VSCode
.vscode/

# Logs
logs/
*.log
*.gz

# OS stuff
Thumbs.db
